# data directories
glove.840B.300d.*
GoogleNews-vectors-negative300.*
data/glue_data/**/
!data/glue_data/Sara/*.tsv
!data/glue_data/Sara/*.py

experiments/**/
!experiments/student-configs/
!experiments/teacher-configs/
!experiments/analysis/
!experiments/analysis/logs
!experiments/analysis/probing
!experiments/analysis/predictions
!experiments/analysis/mistakes-hits
*.log
*.out
latex/*.cpt
nohup.out
.ipynb_checkpoints
*.zip
