# data directories
glove.840B.300d.*
GoogleNews-vectors-negative300.*
data/glue_data/**/
!data/glue_data/Sara/*.tsv
!data/glue_data/Sara/*.py

experiments/**/
!experiments/student-configs/
!experiments/teacher-configs/
!experiments/analysis/
!experiments/analysis/logs
*.log
*.out
nohup.out
.ipynb_checkpoints
*.zip
