# data directories
glove.840B.300d.*
GoogleNews-vectors-negative300.*
data/glue_data/*
data/sara/*
!data/sara/*.tsv
!data/sara/*.py

experiments/**/
!experiments/student-configs/
!experiments/teacher-configs/
*.log
*.out
notes.md
nohup.out
.ipynb_checkpoints
*.zip
